pywinauto==0.6.9
winrt-runtime==3.2.1
winrt-Windows.Foundation==3.2.1
winrt-Windows.Foundation.Collections==3.2.1
winrt-Windows.ApplicationModel==3.2.1
winrt-Windows.UI.Notifications==3.2.1
winrt-Windows.UI.Notifications.Management==3.2.1
PySide6==6.11.1
